section {

   &.error-content {
      padding: 70px 20px 140px;
      background: #F8F8F8;

      .splash-image {

         @media(max-width: 991px) and (min-width: 768px) {
            padding: 0 30px;
         }
      }

      .error-msg {
         padding-top: 36px;
         font-size: 26px;
      }

      .navigate {
         padding: 20px 0 0;

         @media(max-width: 767px) {
            width: 100%;
         }

         .btn-back-home, .btn-contact-us {
            height: 60px;
            width: 165px;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: -0.06px;
            line-height: 22px;
            text-align: center;
            color: #FFFFFF;
            text-transform: uppercase;
            text-decoration: none;
            margin: 0 30px;
            background-color: #322574;

            @media(max-width: 767px) {
               width: 100%;
               height: 45px;
               margin: 20px 0 0;
            }
         }
      }
   }

}