section {

   &.about-us-content {

      .img-block {
         @media(max-width: 767px) {
            display: none;
         }
      }

      .row-a {
         padding: 65px 0;

         @media(max-width: 767px) {
            padding: 0 0 45px;
         }

         .top-title {
            font-size: 24px;
            letter-spacing: -0.75px;
            line-height: 29px;
            padding-bottom: 26px;
            color: #322574;
         }
   
         .sec-title {
            color: $color-black;
            font-size: 36px;
            font-weight: bold;
            line-height: 40px;
            padding-bottom: 50px;  

            @media(max-width: 767px) {
               padding-bottom: 25px;
            }
         }
   
         .sec-description {
            margin-bottom: 4em;
            font-size: 16px;

            @media(max-width: 767px) {
               margin-bottom: 2em;
            }
         }
      }

      .row-b {
         padding: 65px 0;

         .top-title {
            font-size: 24px;
            letter-spacing: -0.75px;
            line-height: 29px;
            padding-bottom: 26px;
            color: #6D5E82;

            @media(max-width: 767px) {
               padding: 0 0 18px;      
            }
         }
   
         .sec-title {
            color: $color-white;
            font-size: 36px;
            font-weight: bold;
            line-height: 40px;
            padding-bottom: 20px;  
         }
   
         .sec-description {
            margin-bottom: 4em;
            font-size: 16px;
         }
      }

      .box {

         &-our-mission {
            background: url('../img/about-us/group-people-working-out-business-plan-office@2.png') top center no-repeat;
         }
         &-our-philosophy {
            background: url('../img/about-us/Bitmap-2@2.png') top center no-repeat;
         }
         &-our-vision {
            background: url('../img/about-us/group-casually-dressed-business-people-discussing-ideas-office@2.png') top center no-repeat;
         }
         &-our-strategy {
            background: url('../img/about-us/business-executives-discussing-with-their-colleagues-whiteboa@2.png') top center no-repeat;
         }

         &-our-mission, &-our-philosophy, &-our-vision, &-our-strategy {
            margin-bottom: 10px;
            padding: 20px 24px;
            font-size: 14px;
            color: #FFF;
            background-size: cover;

            h2 {
               margin: 0 0 18px;
               font-size: 24px;
               font-weight: 500;
               text-transform: uppercase;
            }
         }
      }

      .what-we-actually-do {

         &.full-row-bg {
            padding: 63px 0;
            color: $color-white;
            background: #09061f url('../img/about-us/Group-3@2.png') no-repeat;
            background-size: cover;

            @media(max-width: 767px) {
               padding: 50px 0;
            }
         }

         .description {
            line-height: 33px;

            span {
               display: block;
               font-size: 20px;
               margin: 20px 0 10px;
            }
         }

         .btn-learn-more {
            margin-top: 10px;
            font-size: 14px;
            text-transform: uppercase;
            
            a {
               color: #1CD8FE;
               text-decoration: none;
            }
         }

         .icons-wrap {
            
            @media(max-width: 767px) {
               display: none !important;
            }
         }

         .icons-wrap-mb {
            display: none !important;

            @media(max-width: 767px) {
               display: block !important;
            }
         }
      }

      .diagram {
         padding: 48px 0;
         
         .path-line {
            font-size: 24px;
            line-height: 29px;
            background: url('../img/dashline.svg') top center repeat-y;

            span {
               font-weight: 600;
               color: #6F40AF;
            }

            .paths {
               padding-bottom: 50px;

               &:last-child {
                  padding-bottom: 0;
               }

               .col-a, .col-b {
                  padding-top: 6px;
               }

               .col-a {
                  position: relative;
                  padding-right: 45px;

                  @media(max-width: 767px) {
                     padding-right: 25px;
                  }
                  
                  &:after {
                     position: absolute;
                     top: 0;
                     right: -21px;
                     content: '';
                     width: 41px;
                     height: 41px;
                     background: url('../img/circle-border.svg') center no-repeat;

                     @media(max-width: 767px) {
                        right: -15px;
                        width: 30px;
                        height: 30px;
                        background-size: 30px;
                     }
                  }
               }

               .col-b {
                  padding-left: 45px;

                  @media(max-width: 767px) {
                     padding-left: 25px;
                  }
               }
               
            }
         }
      }

      .our-locations {
         padding: 48px 0 170px;
         background: #F8F8F8;

         @media(max-width: 767px) {
            padding: 40px 0 85px;
         }

         .sec-title {
            color: $color-black;
            font-size: 36px;
            font-weight: bold;
            line-height: 40px;
            padding-bottom: 50px;  
         }

         .place-image {
            padding-bottom: 22px;
         }

         .state {
            margin-bottom: 20px;
            font-size: 26px;
         }

         .full-address {
            font-size: 20px;
         }

         @media(max-width: 767px) {
            .col-b {
               padding-top: 40px;
            }
         }
      }
   }

}