section{

   &.careers{

      .career-details{

         .career-position{
            color: #000000;
            font-size: 50px;
            font-weight: bold;
            letter-spacing: -0.18px;
            line-height: 50px;
            padding-top: 55px;
            padding-bottom: 20px;

            @media(max-width: 767px) {
               padding-top: 20px;
            }
         }

         .desc{
            color: #000000;
            font-size: 16px;
            letter-spacing: -0.06px;
            line-height: 33px;
            padding-bottom: 67px;

            @media(max-width: 767px) {
               line-height: 26px;
            }
         }

         .title{
            padding-bottom: 30px;
         }

         ul{
            list-style: none;
            margin: 0;
            padding: 0;
            padding-bottom: 30px;

            li{
               color: #000000;
               font-size: 16px;
               letter-spacing: -0.06px;
               line-height: 25px;
            }
         }

         .contact-form-wrap{

            .custom-file-label{
               background: transparent;
               border: none;
               height: 50px;
               color: #fff;
               margin: 0;
               font-size: 18px;
               letter-spacing: -0.07px;
               line-height: 33px;
               box-shadow: none;

               &:after{
                  height: 30px;
                  width: 85px;
                  background-color: #322574;
                  font-size: 15px;
                  letter-spacing: -0.05px;
                  line-height: 18px;
                  border-radius: 0;
                  top: 10px;
                  right: 10px;
                  text-align: center;
                  color: #fff;
               }
            }
            input[type="submit"]{
               height: 60px;
               width: 141px;

               @media(max-width: 767px) {
                  width: 100%;
                  height: 45px;
               }
            }
         }
      }
   }

}