   section{

   &.careers{
      padding-bottom: 230px;

      @media(max-width: 991px) {
         padding-bottom: 170px;
      }
      @media(max-width: 767px) {
         padding-bottom: 90px;
      }
      

      .head-title{
         color: #000000;
         font-size: 50px;
         font-weight: bold;
         letter-spacing: -0.18px;
         line-height: 50px;
      }

      .top-txt{
         color: #000000;
         font-size: 100px;
         font-weight: bold;
         letter-spacing: -0.36px;
         text-align: center;
         padding-top: 64px;
         padding-bottom: 54px;
         text-align: left;

         @media(max-width: 767px) {
            padding: 35px 0;
            text-align: center;
         }
      }

      .sec-img-cont{

         .gap-23{
            gap: 23px;
         }

         img{
            height: 374px;
            object-fit: cover;
         }

      }

      .open-positions{
         padding: 45px 0;

         .head-title{
            padding-bottom: 45px;

            @media(max-width: 767px) {
               padding-bottom: 20px;
            }
         }
         ul{
            list-style: none;
            padding: 0;
            margin: 0;
            border-top: 1px solid #E8E8E8;
            border-bottom: 1px solid #E8E8E8;

            li{
               border-bottom: 1px solid #E8E8E8;
               padding: 7px 0;
               position: relative;

               &:last-child{
                  border: none;
               }

               &:after{
                  content: '';
                  background-image: url('../img/arrow-right-black.svg');
                  width: 20px;
                  height: 14px;
                  position: absolute;
                  right: 0;
                  top: 33px;
               }

               a{
                  text-decoration: none;

                  .position-title{
                     color: #000000;
                     font-size: 24px;
                     font-weight: bold;
                     letter-spacing: -0.09px;
                     line-height: 33px;
                  }
                  .position-location{
                     color: #A6A6A6;
                     font-size: 16px;
                     letter-spacing: -0.06px;
                     line-height: 33px;
                  }
               }
            }
         }
      }

      .contact-form-wrap {

         @media(max-width: 767px) {
            margin-top: 30px;
         }
      }

      .sweet-perks{

          @media(max-width: 767px) {
            display: none;
          }

         .head-title{
            padding-bottom: 65px;
         }

         .gap-47{
            gap: 47px;
         }

         .perks-list{
            text-align: center;

            @media(max-width: 767px) {
               margin-top: 35px;

               &:first-child {
                  margin-top: 0;
               }
            }

            .icon-wrap {
               min-height: 79px;
            }

            .perks-title{
               color: #000000;
               font-size: 18px;
               font-weight: bold;
               letter-spacing: -0.07px;
               line-height: 33px;
               padding-top: 24px;

               @media(max-width: 767px) {
                  padding-top: 10px;
               }
            }
         }
      }
      
   }

}




