section{

   &.contact-details{
      padding-top: 65px;
      padding-bottom: 80px;

      @media(max-width: 767px) {
         padding-top: 0;
      }

      .desc{
         color: #A6A6A6;
         font-size: 16px;
         font-weight: 500;
         letter-spacing: 0.17px;
         line-height: 19px;
         padding-bottom: 45px;

      }

      .sec-title {
         padding-bottom: 15px;
         font-size: 36px;
         font-weight: bold;
         color: $color-black;
      }

      .contact-list{
         padding-bottom: 40px;

         h4{
            color: #000000;
            font-weight: 600;
            letter-spacing: 0.21px;
            line-height: 24px;
            margin-bottom: 15px;
         }
         p{
            margin: 0;
            color: #000000;
            font-size: 20px;
            letter-spacing: 0.21px;
         }

         a{
            color: #000000;
           font-size: 20px;
           letter-spacing: 0.21px;
         }
         
         .contact-icons {
            height: 42px;
            margin-right: 38px;

            @media(max-width: 991px) and (min-width: 768px) {
               margin-right: 15px;
               width: 36px;

               img {
                  width: 33px;
               }
            }

            @media(max-width: 767px) {
               display: none;
            }
         }
      }

   }

   .contact-form-wrap{

      .contact-form{
         background: linear-gradient(90deg, #9CD8F5 0%, #7D71C6 100%);
         padding: 20px;

         .form-title{
            font-weight: bold;
            font-size: 36px;
            color: #F8F8F8;
            letter-spacing: -0.13px;
            line-height: 33px;
            padding-bottom: 25px;

            @media(max-width: 767px) {
               text-align: center;
            }
         }
         .sub-title{
            font-size: 18px;
            color: #F8F8F8;
            letter-spacing: -0.13px;
            line-height: 33px;
            margin-bottom: 25px;

            @media(max-width: 767px) {
               text-align: center;
            }
         }

         .form-group{
            position: relative;

            &:after{
               content: '';
               opacity: 0.29;
               background: #FFFFFF;
               border: none;
               border-radius: 0;
               position: absolute;
               top: 0;
               bottom: 0;
               left: 0;
               right: 0;
            }
         }

         input, textarea{
            height: 50px;
            border: none;
            border-radius: 0;
            background-color: transparent;


               &::-webkit-input-placeholder { /* Edge */
                 color: #FFFFFF;
                 font-size: 18px;
                 letter-spacing: -0.07px;
                 line-height: 33px;

               }

               &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                 color: #FFFFFF;
                 font-size: 18px;
                 letter-spacing: -0.07px;
                 line-height: 33px;
               }

               &::placeholder {
                 color: #FFFFFF;
                 font-size: 18px;
                 letter-spacing: -0.07px;
                 line-height: 33px;

               }

               &[type="submit"]{
                  background-color: $color-christalle;
                  color: #FFFFFF;
                  font-size: 18px;
                  font-weight: 500;
                  letter-spacing: -0.06px;
                  line-height: 22px;
                  text-align: center;
                  opacity: 1;
                  height: 60px;
                  width: 205px;
                  margin-top: 10px;
                  text-transform: uppercase;

                  &:hover{
                     background-color: #FFFFFF;
                     border: 1px solid #979797;
                     color: #000000;
                  }

                  @media(max-width: 767px) {
                     width: 100%;
                     height: 45px;
                     margin: 0;
                  }
               }

         }
         textarea{
            height: 168px;
         }
      }
   }


}




