.footer {
   padding-bottom: 45px;
   background: url('../img/footer-bg.jpg') top center no-repeat;
   background-size: cover;
   background-color: #100F23;

   @media(max-width: 768px) {
      background-image: url('../img/footer-bg-mb.jpg');
   }

   .logo{
      width: 98px;
      height: 98px;
      background-color: $color-lemon;
      text-align: center;
      margin: 0 auto;
      position: relative;
      top: -30px;

      img{
         padding: 12px;
      }
   }

   .footer-details {
      margin-top: 20px;
      color: #fff;

      @media(max-width: 767px) {
         margin-top: 40px;
      }

      ul {
         list-style: none;
         padding: 0;
         margin: 0;

         li {
            color: #f8f8f8;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            letter-spacing: -0.06px;
            line-height: 22px;

            @media(max-width: 767px) {
               margin-top: 20px;
            }

            a {
               color: #f8f8f8;
            }

            .sub-title {
               color: $color-kimberly;
               font-size: 16px;
               letter-spacing: -0.06px;
               line-height: 19px;
               text-align: center;
               font-weight: 400;
               padding-top: 10px;
            }
         }
      }
   }

   .footer-menu {
      @media(min-width: 768px) {
         margin-top: 35px;
      }

      ul {
         list-style: none;
         padding: 0;
         margin: 0;

         li {
            padding: 0 30px;

            @media(max-width: 767px) {
               margin-top: 20px;
               text-align: center;

               &:first-child {
                  margin-top: 0;
               }
            }

            a {
               color: #F8F8F8;
               font-size: 16px;
               letter-spacing: -0.5px;
               line-height: 19px;

               @media(max-width: 767px) {
                  font-size: 18px;
               }
            }
         }
      }
   }
   
   .copyright{
      padding-top: 55px;
      color: #F8F8F8;
      font-size: 16px;
      letter-spacing: -0.5px;
      line-height: 19px;
      text-align: center;
   }
}
