/*!
 * Author: DRL, 2021
 * Website: wwww.dynamicrangelabs.com
*/

/* Global*/

html, body {
   overflow-x: hidden;
}

body {
   margin: 0;
   padding: 0;
   font-family: 'Barlow', sans-serif;
   font-size: 16px;
   color: #0E0A31;
}

.container{
   max-width: 960px;
   width: 100%;
   padding: 0;

   @media(max-width: 991px) {
      padding-left: 20px;
      padding-right: 20px;
   }
}
img {
   display: inline-block;
   max-width: 100%;
}

h1{
   font-weight: bold;
   font-size: 36px;
}
h2{
   font-weight: bold;
   font-size: 30px;
}
h3{
   font-weight: bold;
   font-size: 26px;
}
h4{
   font-weight: bold;
   font-size: 20px;
}
h5{
   font-weight: 400;
   font-size: 20px;
}

h6{
   font-weight: bold;
   font-size: 13px;
}

$color-white: #FFF;
$color-black: #000;
$color-midnight-blue: #0E0A31;
$color-lemon: #FFE51A;
$color-sky-blue: #1CD8FE;
$color-kimberly: #6D5E82;
$color-royal-purple: #6F40AF;
$color-christalle: #322574;

.btn-small{
   border: 1px solid #D6E1E4;
   background-color: #FFFFFF;
   height: 30px;
   border-radius: 3px;
}
.btn-small:hover{
   background-color: $color-christalle;
}
.btn-large{
   height: 48px;
   background-color: $color-christalle;
   border-radius: 3px;
}
.btn-large:hover{
   border: 1px solid #979797;
   background-color: #FFFFFF;
}

section {

   &.header{
      background-image: url('../img/header-bg.jpg');
      height: 178px;
      background-size: cover;

      @media(max-width: 991px) {
         height: 105px;
         letter-spacing: initial;
      }

      @media(max-width: 767px) {
         height: 97px;
      }

      .title, .title h1 {
         margin: 0;
         padding: 0;
         color: $color-white;
         font-size: 48px;
         font-weight: bold;
         letter-spacing: -1.5px;
         line-height: 55px;
         padding: 0;
         margin: 0;
      }

      .breadcrumbs{
         ul{

            list-style: none;
            padding: 0;
            margin: 0;

            li{
               display: inline-block;
               color: #FFFFFF;
               font-size: 18px;
               font-weight: 600;
               letter-spacing: -0.56px;
               line-height: 22px;

               .home{
                  color: #6D5E82;
                  font-size: 18px;
                  font-weight: 500;
                  letter-spacing: -0.56px;
                  line-height: 22px;
               }
               &:after{
                  content: '';
                  background-image: url('../img/breadcrumbs-arrow.svg');
                  background-repeat: no-repeat;
                  width: 8px;
                  height: 13px;
                  display: inline-block;
                  margin: 0 15px;

                  @media(max-width: 767px) {
                     margin: -2px 5px;
                  }
               }
               &:last-child{

                  &:after{
                     display: none;
                  }
               }
            }
         }
      }
   }

   .top-title {
      font-size: 24px;
      letter-spacing: -0.75px;
      line-height: 29px;
      padding-bottom: 26px;
      color: $color-christalle;
      text-transform: uppercase;

      @media(max-width: 767px) {
         padding: 30px 0 18px;
         line-height: 19px;
      }
   }
}


