header {
   background-color: $color-white;
}

.top-most-bar{
   background-color: #0E0A31;

   @media(max-width: 991px) {
      display: none;
   }

   .telephone{
      color: #FFFFFF;
      font-size: 13px;
      letter-spacing: -0.41px;
      line-height: 16px;
   }
   .email {
      color: #FFFFFF;
      font-size: 13px;
      letter-spacing: -0.41px;
      line-height: 16px;
   }
   .contact-wrap{
      height: 40px;
   }
}


.main-menu-wrap {
   position: relative;
   height: 92px;

   @media(max-width: 991px) {
      height: 61px;
   }

   .logo {
      height: 92px;
      background-color: $color-lemon;
      width: 158px;
      position: relative;

      &:before{
         content: '';
         position: absolute;
         top: 0px;
         left: -1000px;
         width: 1000px;
         height: 100%;
         background: $color-lemon;
         z-index: 999;
      }

      img{
         height: 60px;
         width: 122px;
      }

      @media(max-width: 991px) {
         height: 61px;

         img {
            height: 33px;
            width: auto;
         }
      }
   }

   .menu-bar {
      display: none;

      @media(max-width: 991px) {
         display: block;
      }
   }

   .main-menu {
      position: relative;

      .close-menu, .contact-details-menu {
         display: none;
      }

      @media(min-width: 992px) {
         ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
               display: inline-block;
               padding-right: 60px;

               a {
                  color: #000000;
                  font-size: 16px;
                  letter-spacing: -0.5px;
                  line-height: 19px;
               }
            }
         }
      }

      @media(max-width: 991px) {
         display: block !important; // disable flex
         position: absolute;
         z-index: 50;
         top: 61px;
         right: -325px;
         width: 301px;
         padding: 10px 30px 20px;
         background-color: $color-white;
         transition: right 0.25s ease-in-out;

         &.open-panel {
            right: 0;
         }

         a {
            color: $color-black;
         }

         ul {
            list-style: none;
            padding: 0;
            margin: 0 0 35px;

            li {
               padding-top: 15px;

               &:first-child {
                  padding-top: 0;
               }

               a {
                  font-size: 18px;
                  letter-spacing: -0.5px;
                  line-height: 22px;
               }
            }
         }

         .contact-details-menu {
            display: block;
            font-size: 13px;

            section {
               margin-top: 15px;
            }
         }

         .close-menu {
            display: block;
            margin-bottom: 20px;
         }
      }
   }

   .search-container{

      @media(max-width: 991px) {
         display: none;
      }

      #search{
         box-sizing: border-box;
         height: 35.5px;
         width: 140.5px;
         border: 0.5px solid #B9B9B9;
         background-color: #FFFFFF;
         padding: 0 33px 4px 10px;

         &::-webkit-input-placeholder { /* Edge */
            color: #C2C2C2;
            font-size: 12px;
            letter-spacing: -0.38px;

         }

         &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #C2C2C2;
            font-size: 12px;
            letter-spacing: -0.38px;
         }

         &::placeholder {
            color: #C2C2C2;
            font-size: 12px;
            letter-spacing: -0.38px;

         }
      }

      img{
         position: absolute;
         top: 7px;
         right: 7px;
      }
   }
}
