section{

   &.hero-slider {
      background-image: url('../img/hero-slider-bg.png');
      background-color: $color-midnight-blue;
      background-size: cover;
      padding-top: 50px;
      padding-bottom: 100px;

      .macbook-mb {
         display: none !important;
      }

      @media(max-width: 767px) {
         padding-top: 10px;
         padding-bottom: 35px;

         .macbook-mb {
            display: block !important;
         }
      }

      .top-title {
         text-transform: uppercase;

         @media(max-width: 767px) {
            text-align: center;
         }
      }

      .sec-title {
         color: #FFFFFF;
         letter-spacing: -1.13px;
         line-height: 45px;
         margin: 0;
         padding-bottom: 26px;

         @media(max-width: 991px) {
            line-height: 30px;
            letter-spacing: initial;
         }

         @media(max-width: 767px) {
            text-align: center;
         }
      }

      .slider-desc {
         color: #FFFFFF;
         font-size: 24px;
         letter-spacing: -0.75px;
         line-height: 29px;
         padding-bottom: 26px;

         @media(max-width: 767px) {
            text-align: center;
         }
      }

      .btn-learn-more {
         height: 60px;
         width: 165px;
         font-size: 18px;
         font-weight: 500;
         letter-spacing: -0.06px;
         line-height: 22px;
         text-align: center;
         color: $color-black;
         text-transform: uppercase;
         text-decoration: none;
         background-color: $color-white;

         @media(max-width: 991px) {
            width: 145px;
            height: 45px;
         }

         @media(max-width: 767px) {
            width: 100%;
            height: 47px;
            margin: 0 auto;
            background-color: #1CD8FE;
            max-width: 145px;
            color: $color-white;
         }

         &:hover{
            background-color: $color-christalle;
            color: $color-white;
         }
      }
   }

   &.ecommerce-marketplace{
      padding: 45px 0;

      .sec-title{
         color: #000000;
         font-size: 36px;
         font-weight: bold;
         letter-spacing: 0;
         line-height: 45px;
         padding-bottom: 37px;

         @media(max-width: 767px) {
            padding-bottom: 26px;
            line-height: 23px;
         }

      }

      p{
         color: #000000;
         font-size: 14px;
         font-weight: 500;
         letter-spacing: 0.15px;
         line-height: 17px;
      }

      .btn-learn-more {
         height: 60px;
         width: 165px;
         font-size: 18px;
         font-weight: 500;
         letter-spacing: -0.06px;
         line-height: 22px;
         text-align: center;
         color: #FFFFFF;
         text-transform: uppercase;
         text-decoration: none;
         margin-top: 40px;
         background-color: $color-christalle;

         @media(max-width: 767px) {
            width: 100%;
            height: 47px;
            font-size: 13px;
            background-color: #1CD8FE;
            max-width: 145px;
         }

         &:hover{
            background-color: #FFFFFF;
            border: 1px solid #979797;
            color: #000000;
         }
      }
   }

   &.our-marketplace-capabilities {
      padding-bottom: 90px;

      @media(max-width: 991px) {
         padding-bottom: 80px;
      }
   
      .sec-title {
         font-size: 36px;
         font-weight: bold;
         letter-spacing: -0.13px;
         line-height: 33px;
         text-align: center;
         padding-bottom: 50px;

         @media(max-width: 767px) {
            padding: 0 20px 25px;
            line-height: 23px;
            text-align: left;
         }
      }

      .container {
         @media(max-width: 767px) {
            padding: 0;
         }

         > div {
            border: 1px solid #E7E7E7;

            @media(max-width: 767px) {
               border-left: 0;
               border-right: 0;
            }
         }
      }

      ul{
         list-style: none;
         padding: 0;
         margin: 0;
       
         li{
            display: block;
            border-bottom: 1px solid #E7E7E7;
            padding: 16px;
            height: 112px;

            &:last-child{
               border: none;
            }

            @media(max-width: 991px) {
               height: auto;
            }

            a{
               color: #000000;
               font-size: 20px;
               font-weight: bold;
               letter-spacing: -0.07px;
               line-height: 33px;

               @media(max-width: 991px) {
                  display: flex;
               }

               img{
                  width: 35px;
               }

               @media(max-width: 991px) {
                  display: flex;
               }
            }
         }
      }

      @media(max-width: 991px) {
         .capabilities-lists .title {
            padding-left: 15px;
            line-height: 20px;
         }   
      }

      .large-thumbnail {
         background: url('../img/market-place.jpg') top center no-repeat;
         background-size: cover;

         @media(max-width: 767px) {
            height: 380px;
         }
      }

   }
}



