section{

	#accordionMarketplace{


		.card{
			border: none;
			margin-bottom: 15px;

			.card-header{
				margin: 0;
				height: 60px;
				background-color: #F6F6F6;
				border: none;

				@media(max-width: 767px) {
					height: 54px;
				}

				button{
					display: block;
					width: 100%;
					text-align: left;
					position: relative;
					color: #000000;
					font-size: 24px;
					font-weight: bold;
					padding: 0 30px;
					text-decoration: none;

					&:focus{
						box-shadow: none;
					}

					@media(max-width: 767px) {
						padding: 0;
					}

					&[aria-expanded="true"]{

						&:after{
							content: '';
							background-image: url('../img/arrow-up.svg');
							width: 14px;
							height: 21px;
							position: absolute;
							right: 0;
							top: 7px;
						}
					}
					&[aria-expanded="false"]{

						&:after{
							content: '';
							background-image: url('../img/arrow-down.svg');
							width: 14px;
							height: 21px;
							position: absolute;
							right: 0;
							top: 7px;
						}
					}
				}
			}

			.card-body{
				padding: 18px 30px;
				color: #000000;
				font-size: 16px;
				line-height: 19px;

				@media(max-width: 767px) {
					padding: 18px 20px;
				}
			}
		}
	}

	&.marketplace-benefits{
		padding: 70px 0;

		@media(max-width: 767px) {
			padding-top: 0;
		}

		.sec-title{
			color: #000000;
			font-size: 36px;
			font-weight: bold;
			line-height: 40px;
			padding-bottom: 50px;

			@media(max-width: 767px) {
				padding-bottom: 25px;
			}
		}

		.container-img-box{
			width: 460px;
			height: 375px;
			background-image: url('../img/marketplace-benefits-img.jpg');
			background-size: cover;
			padding: 40px 30px;

			@media(max-width: 991px) {
				width: 100%;
				height: auto;
				margin-bottom: 30px;
			}

			.big-txt{
				color: #FFFFFF;
				font-size: 82px;
				font-weight: bold;
				letter-spacing: -0.3px;
				line-height: 82px;
			}
			.middle-txt{
				color: #FFFFFF;
				font-size: 24px;
				letter-spacing: -0.09px;
				line-height: 33px;
			}
			.bottom-txt{
				color: #FFFFFF;
				font-size: 24px;
				font-weight: bold;
				letter-spacing: -0.09px;
				line-height: 33px;
				padding-top: 50px;
			}
		}

		.middle-banner{
			width: 100%;
			height: 250px;
			background-image: url('../img/b2b-img.jpg');
			background-size: cover;
			padding: 40px 40px;
			margin-top: 40px;

			@media(max-width: 991px) {
				height: auto;
			}

			.top-txt{
				color: #FFFFFF;
				font-size: 82px;
				font-weight: bold;
				letter-spacing: 1.99px;
				line-height: 82px;
			}
			.banner-desc{
				color: #FFFFFF;
				font-size: 24px;
				font-weight: 500;
				letter-spacing: 0.25px;
				line-height: 29px;
			}
		}

		.line{
			height: 44px;
			width: 1px;
			border-left: 1px solid #979797;
			opacity: 0.5;
			margin: 18px auto;
		}

		.text-sec{
			max-width: 487px;
			color: #000000;
			font-size: 24px;
			font-weight: 500;
			letter-spacing: 0.25px;
			line-height: 29px;
			text-align: center;
			margin: 0 auto;
		}
	}

	&.leading-millennials{
		background-color: #f8f8f8;
		padding: 18px;

		.top-txt{
			color: #000000;
			font-size: 36px;
			font-weight: bold;
			letter-spacing: -0.13px;
			line-height: 33px;
			padding-bottom: 30px;
		}
		.middle-txt{
			color: #000000;
			font-size: 36px;
			letter-spacing: -0.13px;
			line-height: 33px;
			padding-bottom: 40px;
		}
		.bottom-txt{
			color: #000000;
			font-size: 24px;
			letter-spacing: -0.09px;
			line-height: 33px;
		}
		.text-wrap{
			padding: 35px;

			@media(max-width: 767px) {
				padding: 35px 0;
			}
		}
	}

	&.b2b-marketplaces{
		padding-top: 70px;
    	padding-bottom: 125px;

		.col-left-txt{
		  color: #000000;
		  font-size: 46px;
		  font-weight: bold;
		  letter-spacing: -0.17px;
		  line-height: 46px;
		}
		.col-right-txt{
			color: #000000;
			font-family: Helvetica;
			font-size: 24px;
			font-weight: bold;
			letter-spacing: -0.09px;
			line-height: 33px;
			border-left: 1px solid #97979778;
			padding-left: 60px;
			margin-left: 20px;

			@media(max-width: 767px) {
				margin-top: 30px;
				margin-left: 0;
				padding-top: 30px;
				padding-left: 0;
				border-top: 1px solid #97979778;
				border-left: 0;
			}
		}
	}

	&.marketplace-contact{
		background-color: #f8f8f8;
		height: 606px;

		.contact-form-wrap{
			position: relative;
			top: -75px;
		}

		.contact-form{
			max-width: 780px;
			margin: 0 auto;

			.sub-title{
				max-width: 415px;
				margin: 0 auto;
				margin-bottom: 25px;
			}

			input[type="submit"]{
				background-color: #fff;
				color: #000;
				display: block;
				margin: 0 auto;
				text-transform: uppercase;

				@media(max-width: 991px) {
					width: 100%;
				}

				@media(max-width: 767px) {
					height: 45px;
				}
			}
		}
	}
}




