section {

   &.search-results-content {
      padding: 70px 0 140px;

      @media(max-width: 991px) {
         padding: 70px 0 80px;
      }
      @media(max-width: 767px) {
         padding: 30px 0 80px;
      }
   }

}