section {

   &.main-content {
      padding: 70px 0 140px;

      @media(max-width: 767px) {
         padding: 70px 0 80px;
      }
   }

   &.services-anchor-nav {
      background-color: #F8F8F8;

      ul {
         list-style: none;
         padding: 0;
         margin: 0;
         border-bottom: 1px solid #DBDBDB;
         box-shadow: 0 6px 16px -10px rgba(0,0,0,0.2);
       
         li {
            font-size: 14px;

            &:first-child {
               border-left: 0;
            }

            &:hover {
               background-color: ivory;
            }

            @media(min-width: 992px) {
               width: calc(100%/4);
               border-left: 1px solid #DBDBDB;
            }

            @media(max-width: 991px) and (min-width: 768px) {
               width: calc(100%/2);
               font-size: 14px;
               border-left: 1px solid #DBDBDB;

               &:first-child, &:nth-child(2) {
                  border-bottom: 1px solid #DBDBDB;
               }
            }

            a {
               display: block;
               padding: 20px 25px;
               font-size: 14px;
               color: $color-black;
               text-decoration: none;
               line-height: 18px;

               @media(max-width: 991px) {
                  display: flex;
               }

               img {
                  height: 24px;
                  margin-right: 10px;
               }

               @media(max-width: 991px) {
                  display: flex;
               }
            }
         }
      }
   }

   &.marketplace-analysis-strategy {
      margin-bottom: 65px;

      .sec-title {
         position: relative;
         margin-bottom: 25px;

         @media(max-width: 1024px) {
            margin-left: 56px;
         }
         
         &:before {
            position: absolute;
            left: -56px;
            content: '';
            width: 45px;
            height: 45px;
            background: url('../img/icon-strategy.svg') no-repeat;
         }

         .sec-description {
            font-size: 16px;
            color: #A6A6A6;
         }
      }

      .box-lists {

         &-a, &-b, &-c {

            .flip-wrap{
               min-height: 328px;
               padding: 0;
               font-size: 20px;
               margin: 0;

               .flip-card {
                  background-color: transparent;
                  width: 100%;
                  height: 100%;
                  perspective: 1000px;

                  &:hover{

                     .flip-card-inner{
                        transform: rotateY(180deg);
                     }
                  }

                  .flip-card-inner {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    transition: transform 0.6s;
                    transform-style: preserve-3d;

                     .flip-card-front, .flip-card-back {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                     }
                     .flip-card-front {
                        color: #322574;
                        border: 1px solid #E8E8E8;
                        border-right: 0;
                        border-bottom: 0;
                     }
                     .flip-card-back {
                       transform: rotateY(180deg);
                     }
                  }

               }

               &:last-child{

                  .flip-card{

                     .flip-card-inner{

                        .flip-card-front{
                           border-right: 1px solid #E8E8E8;
                        }
                     }
                  }
               }
            }
         }

         &-c{
            .flip-card-front{
               border-bottom: 1px solid #E8E8E8 !important;
            }
         }

         &-a .box {
           
            &-a1 {
               background: url('../img/marketplace-analysis-strategy/business-people-meeting@2.png') center no-repeat;
            }

            &-a2 {
               background: url('../img/marketplace-analysis-strategy/brokers-discussing-trading-strategy-holding-papers-with-financial-data-pointing-pen-charts-cropped-shot-broker-job-stock-market-exchange-concept@2.png') center no-repeat;
            }

            &-a3 {
               background: url('../img/marketplace-analysis-strategy/african-american-man-paying-with-credit-card-online-while-making-orders-via-mobile-internet-making-transaction-using-mobile-bank-application@2.png') center no-repeat;
            }

            &-a1, &-a2, &-a3 {
               color: $color-white;
            }

         }

         &-b .box {
           
            &-b1 {
               color: $color-white;
               background: url('../img/marketplace-analysis-strategy/manager-woman-leading-brainstorming-meeting@2.png') center no-repeat;
            }

            &-b2 {
               color: $color-white;
               background: url('../img/marketplace-analysis-strategy/asian-businessmen-businesswomen-meeting-brainstorming-ideas-about-creative-web-design-planning-application-developing-template-layout-mobile-phone-project-working-together-small-office@2.png') center no-repeat;
            }

            &-b3 {
               color: #FFF;
               background: url('../img/marketplace-analysis-strategy/Bitmap@2.png') center no-repeat;
            }

            &-b1, &-b2, &-b3 {
               color: $color-white;
            }
         }

         &-c .box {
           
            &-c1 {
               color: $color-white;
               background: url('../img/marketplace-analysis-strategy/Bitmap2@2.png') center no-repeat;
            }

            &-c2 {
               position: relative;

               @media(max-width: 767px) {
                  display: none;
               }
               
               .offset-box {
                  position: absolute;
                  top: 0;
                  left: -1px;
                  width: 175%;
                  height: 100%;
                  background: url('../img/marketplace-analysis-strategy/result-economy-success-report-solution-statistics@2.png') center right no-repeat;
                  background-size: cover;

                  @media(max-width: 1024px) {
                     width: 110%;
                  }
               }
            }
         }

         &-a, &-b, &-c {

            [class*="box-"] {
               min-height: 328px;
               padding: 20px;
               font-size: 20px;
               border-left: 1px solid $color-white;
               background-size: cover;

               &:first-child {
                  border: 0;
               }

               @media(max-width: 767px) {
                  min-height: 228px;
                  border-left: 0;
               }
            }
         }

      }
   }

   &.marketplace-design-integration-marketing {
      margin-bottom: 65px;
      background-image: url('../img/marketplace-design-integration-marketing/Group-121@2.png'), url('../img/marketplace-design-integration-marketing/Group-122@2.png');background-position: right 105px, left bottom;
      background-size: 45%;
      background-repeat: no-repeat;

      .sec-title {
         position: relative;
         margin-bottom: 25px;

         @media(max-width: 1024px) {
            margin-left: 56px;
         }
         
         &:before {
            position: absolute;
            left: -56px;
            content: '';
            width: 45px;
            height: 45px;
            background: url('../img/icon-integration.svg') no-repeat;
         }

         .sec-description {
            font-size: 16px;
            color: #A6A6A6;
         }
      }

      .box-lists {

         &-a {

            .box-a1, .box-a2, .box-a3{

               .flip-wrap{
                  min-height: 296px;
                  padding: 0;
                  font-size: 20px;
                  margin: 0;
                  margin-bottom: 31px;

                  .flip-card {
                     background-color: transparent;
                     width: 100%;
                     height: 100%;
                     perspective: 1000px;

                     &:hover{

                        .flip-card-inner{
                           transform: rotateY(180deg);
                        }
                     }

                     .flip-card-inner {
                       position: relative;
                       width: 100%;
                       height: 100%;
                       text-align: center;
                       transition: transform 0.6s;
                       transform-style: preserve-3d;

                        .flip-card-front, .flip-card-back {
                           position: absolute;
                           width: 100%;
                           height: 100%;
                           -webkit-backface-visibility: hidden;
                           backface-visibility: hidden;
                        }
                        .flip-card-front {
                           color: #322574;
                           min-height: 296px;
                           background-color: #FFFFFF;
                           box-shadow: 0 10px 30px 0 rgba(50,37,116,0.19);
                        }
                        .flip-card-back {
                          transform: rotateY(180deg);
                        }
                        .bg-color-lemon{
                           background-color: $color-lemon;
                        }
                        .bg-color-sky-blue{
                           background-color: $color-sky-blue;
                        }
                        .border-color-sky-blue{
                           border: 3px solid $color-sky-blue;
                        }
                        .bg-color-midnight-blue{
                           background-color: $color-midnight-blue;
                        }
                        .border-color-lemon{
                           border: 3px solid $color-lemon;
                        }
                     }

                  }
               }
            }

            .box-a1 {

               .sub-box {

                  &-1 {
                     margin-bottom: 31px;
                     background: url('../img/marketplace-design-integration-marketing/top-view-of-young-graphic-designer-working-on-desktop-computer-and-using-some-color-swatches-top-view@2.png') center no-repeat;
                  }

                  &-2 {
                     margin-bottom: 31px;
                     background: url('../img/marketplace-design-integration-marketing/Bitmap@2.png') center no-repeat;
                  }

                  &-3 {
                     background: url('../img/marketplace-design-integration-marketing/Bitmap2@2.png') center no-repeat;
                  }

                  &-1, &-2, &-3 {
                     color: $color-white;
                     background-size: 110%;

                     @media(max-width: 1024px) {
                        background-size: cover;
                     }
                  }
               }
            }

            .box-a2 {
               margin-top: 76px;

               @media(max-width: 767px) {
                  margin-top: 30px;
               }

               .sub-box {

                  &-1 {
                     margin-bottom: 31px;
                     background: url('../img/marketplace-design-integration-marketing/business-online-shopping-sale-concept@2.png') center no-repeat;
                  }

                  &-2 {
                     margin-bottom: 31px;
                     background: url('../img/marketplace-design-integration-marketing/Bitmap3@2.png') center no-repeat;
                  }

                  &-3 {
                     margin-bottom: 31px;
                     background: url('../img/marketplace-design-integration-marketing/Bitmap4@2.png') center no-repeat;
                  }

                  &-4 {
                     background: url('../img/marketplace-design-integration-marketing/Bitmap5@2.png') center no-repeat;
                  }

                  &-1, &-2, &-3, &-4 {
                     color: $color-white;
                     background-size: 110%;

                     @media(max-width: 1024px) {
                        background-size: cover;
                     }
                  }
               }
            }

            .box-a3 {
               margin-top: 150px;

               @media(max-width: 767px) {
                  margin-top: 30px;
               }

               .sub-box {

                  &-1 {
                     margin-bottom: 31px;
                     background: url('../img/marketplace-design-integration-marketing/Bitmap6@2.png') center no-repeat;
                  }

                  &-2 {
                     margin-bottom: 31px;
                     background: url('../img/marketplace-design-integration-marketing/Bitmap7@2.png') center no-repeat;
                  }

                  &-3 {
                     background: url('../img/marketplace-design-integration-marketing/Bitmap8@2.png') center no-repeat;
                  }

                  &-1, &-2, &-3 {
                     color: $color-white;
                     background-size: 110%;

                     @media(max-width: 1024px) {
                        background-size: cover;
                     }
                  }
               }
            }

            [class*="box-"] [class*="sub-box-"] {
               min-height: 296px;
               padding: 20px;
               font-size: 20px;
            }

         }
      }
   }

   &.services-development {
      margin-bottom: 65px;

      .sec-title {
         position: relative;
         margin-bottom: 25px;

         @media(max-width: 1024px) {
            margin-left: 56px;
         }
         
         &:before {
            position: absolute;
            left: -56px;
            content: '';
            width: 45px;
            height: 45px;
            background: url('../img/icon-development.svg') no-repeat;
         }

         .sec-description {
            font-size: 16px;
            color: #A6A6A6;
         }
      }

      .box-lists {

         &-a {

            .box-a1 {

               .inner-wrap {
                  color: $color-white;
                  text-align: center;
                  background: url('../img/development/bitmap@2.png') center no-repeat;
               }
            }

            .box-a2 {
               @media(max-width: 767px) {
                  margin-top: 30px;
               }

               .inner-wrap {
                  text-align: center;
                  border: 1px solid #E7E7E7;
                  background: #F8F8F8;
               }
            }
         }

         &-b {

            .box-b1 {

               .inner-wrap {
                  text-align: center;
                  background: url('../img/development/Group-1039-2@2.png') center no-repeat;
               }
            }

            .box-b2 {
               @media(max-width: 767px) {
                  margin-top: 30px;
               }
 
               .inner-wrap {
                  color: $color-white;
                  text-align: center;
                  background: #0E0A31;
               }
            }

            .box-b3 {
               @media(max-width: 767px) {
                  margin-top: 30px;
               }

               .inner-wrap {
                  text-align: center;
                  border: 1px solid #E7E7E7;
                  background: #F8F8F8;
               }
            }

         }

         &-c {

            .box-c1 {

               .inner-wrap {
                  color: $color-white;
                  text-align: center;
                  background: #1CD8FE;
               }
            }

            .box-c2 {
               @media(max-width: 767px) {
                  margin-top: 30px;
               }

               .inner-wrap {
                  color: $color-white;
                  text-align: center;
                  background: url('../img/development/OVEDMU0@2.png') center no-repeat;
               }
            }
         }

         &-d {

            .box-d1 {

               .inner-wrap {
                  text-align: center;
                  border: 1px solid #E7E7E7;
                  background: #F8F8F8;
               }
            }

            .box-d2 {
               @media(max-width: 767px) {
                  margin-top: 30px;
               }

               .inner-wrap {
                  text-align: center;
                  border: 1px solid #E7E7E7;
                  background: #F8F8F8;
               }
            }

            .box-d3 {
               @media(max-width: 767px) {
                  margin-top: 30px;
               }

               .inner-wrap {
                  color: $color-white;
                  text-align: center;
                  background: url('../img/development/Group-1039@2.png') center no-repeat;
               }
            }

         }

         &-b, &-c, &-d {
            margin-top: 30px;
         }

         &-a, &-b, &-c, &-d {

            [class*="box-"] .inner-wrap {
               min-height: 240px;
               padding: 20px;
               font-size: 20px;
               background-size: 110%;

               @media(max-width: 1024px) {
                  background-size: cover;
               }
            }
         }

      }
   }

   &.seller-recruitment-onboarding-management {

      .sec-title {
         position: relative;
         margin-bottom: 25px;

         @media(max-width: 1024px) {
            margin-left: 56px;
         }
         
         &:before {
            position: absolute;
            left: -56px;
            content: '';
            width: 45px;
            height: 45px;
            background: url('../img/icon-onboarding.svg') no-repeat;
         }

         .sec-description {
            font-size: 16px;
            color: #A6A6A6;
         }
      }

      .box-lists {

         &-a {

            .box-a1, .box-a2 {

               .inner-wrap {
                  min-height: 334px;
                  padding-bottom: 20px;
                  background: $color-white;
                  box-shadow: 0 10px 30px 0 rgba(50,37,116,0.19);  
                  
                  h3 {
                     padding: 30px 45px;
                     font-size: 36px;
                  }

                  ul {
                     list-style: none;
                     margin: 0;
                     padding: 0;
                     font-size: 20px;

                     li {
                        position: relative;
                        margin-bottom: 20px;
                        padding: 0 45px;

                        &:before {
                           position: absolute;
                           top: 0;
                           left: 0;
                           content: '';
                           width: 30px;
                           height: 30px;
                           background: #FFE51A;
                        }
                     }
                  }
               }
            }

            @media(max-width: 767px) {
               .box-a2 {
                  margin-top: 30px;
               }
            }
         }

         &-b {
            margin-top: 30px;

            .box-b1 {

               .inner-wrap {
                  padding-bottom: 20px;
                  background: $color-white;
                  box-shadow: 0 10px 30px 0 rgba(50,37,116,0.19);  
                  
                  h3 {
                     padding: 30px 45px;
                     font-size: 36px;
                  }

                  ul {
                     list-style: none;
                     margin: 0;
                     padding: 0;
                     font-size: 20px;

                     li {
                        position: relative;
                        margin-bottom: 20px;
                        padding: 0 45px;

                        &:before {
                           position: absolute;
                           top: 0;
                           left: 0;
                           content: '';
                           width: 30px;
                           height: 30px;
                           background: #FFE51A;
                        }
                     }
                  }
               }
            }
         }
         

         &-c {
            margin-top: 30px;

            h3 {
               font-size: 36px;
               font-weight: 400;
            }
      
            .box-c1 {

               .inner-wrap {
                  color: $color-white;
                  text-align: center;
                  background: url('../img/seller-recruitment-onboarding-management/man-holding-credit-card-hand-entering-security-code-using-laptop-keyboard@2.png') center no-repeat;
               }
            }

            .box-c2 {
               @media(max-width: 767px) {
                  margin-top: 30px;
               }

               .inner-wrap {
                  color: $color-white;
                  text-align: center;
                  background: url('../img/seller-recruitment-onboarding-management/Bitmap@2.png') center no-repeat;
               }
            }

            [class*="box-"] .inner-wrap {
               min-height: 263px;
               padding: 20px;
               font-size: 20px;
               background-size: 110%;

               @media(max-width: 1024px) {
                  background-size: cover;
               }
            }
         }

         &-d {
            margin-top: 30px;
      
            .box-d1 {

               .inner-wrap {
                  padding: 68px 40px;
                  color: $color-white;
                  background: url('../img/seller-recruitment-onboarding-management/business-team-contact-us-helpdesk-internet-concept@2.png') center no-repeat;
                  background-size: 110%;
                  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);

                  @media(max-width: 1024px) {
                     background-size: cover;
                  }
               }

               .sub-title {
                  margin-bottom: 23px;
                  font-size: 20px;
               }

               .btn-contact-us {
                  height: 60px;
                  width: 165px;
                  margin-right: 20px;
                  font-size: 18px;
                  font-weight: 500;
                  letter-spacing: -0.06px;
                  line-height: 22px;
                  text-align: center;
                  color: #FFFFFF;
                  text-transform: uppercase;
                  text-decoration: none;
                  background-color: #1CD8FE;

                  @media(max-width: 767px) {
                     width: 100%;
                     height: 47px;
                     margin-top: 30px;
                     margin-right: 0;
                     font-size: 16px;
                  }
               }
            }
         }

      }
   }

}