//
// All listed here the sections that font will resize in mobile view
//

@media(max-width: 991px) {

   section {
   
      &.header {
         .title, .title h1 {
            font-size: 32px;
            font-weight: 500;
         }
      }

      .top-title {
         font-size: 19px;
      }

      &.hero-slider {

         .sec-title {
            font-size: 27px;
         }

         .slider-desc {
            font-size: 20px;
         }

         .btn-learn-more {
            font-size: 16px;
         }
      }

      &.careers .top-txt {
         font-size: 62px;
      }

      .our-marketplace-capabilities .capabilities-lists .title {
         font-size: 16px;
      }

      &.error-content .error-msg {
         font-size: 21px;
         text-align: center;
      }

   }

}

@media(max-width: 767px) {

   section {

      &.header {

         .title, .title h1 {
            font-size: 23px;
         }

         .breadcrumbs ul li {
            font-size: 14px;
            font-weight: 500;

            .home {
               font-size: 14px;
            }
         }
      }

      .top-title {
         font-size: 17px !important;
      }

      &.hero-slider {
      
         .sec-title {
            font-size: 20px;
         }

         .slider-desc {
            font-size: 18px;
         }

         .btn-learn-more {
            font-size: 13px;
         }
      }

      &.ecommerce-marketplace .sec-title, &.our-marketplace-capabilities .sec-title,
      &.about-us-content .box-our-mission h2, &.about-us-content .box-our-philosophy h2, &.about-us-content .box-our-vision h2, &.about-us-content .box-our-strategy h2, &.about-us-content .row-b .sec-title, .about-us-content .our-locations .state {
         font-size: 21px;
      }

      &.our-marketplace-capabilities .capabilities-lists .title {
         font-size: 13px;
      }

      &.marketplace-analysis-strategy, &.marketplace-design-integration-marketing,
      &.services-development, &.seller-recruitment-onboarding-management {

         .sec-title h2 {
            font-size: 18px;
         }

         .sec-description {
            font-size: 14px;
         }

         [class*='box-lists-'] [class*='box-'], [class*='box-lists-'] [class*='box-'] .inner-wrap {
            font-size: 16px !important;

            h3 {
               font-size: 18px !important;
            }

            ul {
               font-size: 16px !important;
            }
         }

      }

      &.marketplace-benefits .sec-title, &.about-us-content .row-a .sec-title, &.about-us-content .our-locations .sec-title, &.contact-details .sec-title {
         font-size: 26px;
         line-height: 29px;
      }

      &.marketplace-benefits .container-img-box .big-txt {
         font-size: 48px;
      }

      &.marketplace-benefits .container-img-box .middle-txt {
         font-size: 16px;
      }

      &.marketplace-benefits .container-img-box .bottom-txt, #accordionMarketplace .card .card-header button, &.marketplace-benefits .middle-banner .banner-desc, &.marketplace-benefits .text-sec, &.leading-millennials .middle-txt, &.leading-millennials .bottom-txt, &.about-us-content .diagram .path-line, &.about-us-content .our-locations .full-address {
         font-size: 18px;
         line-height: 22px;
      }

      &.marketplace-benefits .middle-banner .top-txt {
         font-size: 48px;
      }

      &.leading-millennials .top-txt, &.b2b-marketplaces .col-left-txt, .contact-form-wrap .contact-form .form-title {
         font-size: 28px;
         line-height: 32px;
      }

      &.b2b-marketplaces .col-right-txt {
         font-size: 21px;
         line-height: 26px;
      }

      .contact-form-wrap .contact-form input[type="submit"], .contact-form-wrap .contact-form textarea[type="submit"], .contact-form-wrap .contact-form, &.error-content .navigate .btn-back-home, &.error-content .navigate .btn-contact-us, &.contact-details .contact-list p, &.contact-details .contact-list a {
         font-size: 16px;
      }

      &.careers .top-txt, &.careers .head-title, &.careers .career-details .career-position {
         font-size: 28px;
      }

      &.careers .open-positions ul li a .position-title, &.contact-details .contact-list h4 {
         font-size: 18px;
      }
   }

}